<section id="blog">
  <h2>Our Best Blogs Ever</h2>
  <p>“Try our blog to find the best tips and tricks to select your gift”</p>
  <div>
    <img src="./images/blogs.jpg" alt="married" width="400" />
    <div>
      <p>Mr. John Doe</p>
      <h3>The best way to wish your wife</h3>
      <a href="/">Read More</a>
    </div>
  </div>
  <ul>
    <li>
      <h3>Database to find the gifts for your girlfriend</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore...
      </p>
      <a href="/">Read More</a>
    </li>
    <li>
      <h3>How Artificial Intelligence read your mind to find the best gift</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore...
      </p>
      <a href="/">Read More</a>
    </li>
  </ul>
</section>
