<footer>
  <ul>
    <li><a href="#header">Home</a></li>
    <li><a href="#about">About</a></li>
  </ul>
  <a href="#header">logo</a>
  <ul>
    <li><a href="#services">Service</a></li>
    <li><a href="#blog">Blog</a></li>
  </ul>
  <ul>
    <li>
      <svg width="40" height="40">
        <use href="./images/sprite.svg#fb"></use>
      </svg>
    </li>
    <li>
      <svg width="40" height="40">
        <use href="./images/sprite.svg#tw"></use>
      </svg>
    </li>
    <li>
      <svg width="40" height="40">
        <use href="./images/sprite.svg#inst"></use>
      </svg>
    </li>
    <li>
      <svg width="40" height="40">
        <use href="./images/sprite.svg#youtube"></use>
      </svg>
    </li>
    <li>
      <svg width="40" height="40">
        <use href="./images/sprite.svg#pint"></use>
      </svg>
    </li>
  </ul>
  <div>
    <p>&#64; 2010 — 2020</p>
    <a href="">Privacy — Terms</a>
  </div>
</footer>
