<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="hero__title">Find a gift for your wife or girlfriend</h1>
      <p class="hero__text">
        Struggling to find a gift for your wife or girlfriend? No problem!
      </p>
      <button class="button hero__button" type="button" data-modal-open>
        Find gift now
      </button>
    </div>
    <img
      class="hero__img"
      src="./images/hero.jpg"
      alt="happy boy and girl"
      width="719"
    />
  </div>
  <div
    class="slick-slider"
    style="width: 400px; margin: 0 auto; padding: 40px 0"
  >
    <img src="./images/first.jpg" />
    <img src="./images/second.jpg" />
    <img src="./images/third.jpg" />
  </div>
</section>
