<section id="services">
  <h2>Gifts for all Occasions</h2>
  <p>“Try our web app to find the best gifts for all occasions”</p>
  <ul>
    <li>
      <a href="/"
        ><img src="./images/birthday.jpg" alt="birthday" width="270" />
        <h3>Birthday</h3>
        <p>See More &#62;</p></a
      >
    </li>
    <li>
      <a href="/"
        ><img src="./images/anniversal.jpg" alt="universal" width="270" />
        <h3>Anniversary</h3>
        <p>See More &#62;</p></a
      >
    </li>
    <li>
      <a href="/"
        ><img src="./images/valentine.jpg" alt="valentine-day" width="270" />
        <h3>Valentine's Day</h3>
        <p>See More &#62;</p></a
      >
    </li>
    <li>
      <a href="/"
        ><img src="./images/christmas.jpg" alt="christmas" width="270" />
        <h3>Christmas</h3>
        <p>See More &#62;</p></a
      >
    </li>
  </ul>
</section>
